body {
	background-color: black;
	background: url('background-2.jpg') fixed;
	background-size: cover;
	background-position: center center;
}

a, .nav-link {
	color: #FF0053;
}

.cover-container {
	background: rgba(0,0,0,.2);
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }

  @media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
  }
  
  hr {
	  margin: 4rem 0;
  }
  
  .lead.note {
	  font-style: italic;
  }
